*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: start;
    position: sticky;
    top: 0;
    background: linear-gradient(135deg, #321971 0%, #4a22b1 100%);
    width: 100%;
    margin-right: 0;
}
.nav{
    width: 90vw;
}
.home{
    width: 100%;
    background: linear-gradient(180deg, #321971 0%, #0d6efd 100%);
    color: #767682;
    font-family: sans-serif;
    min-height: 100vh;
}

.left-logo{
    width: max-content;
    cursor: pointer;
    margin-left: 10px;
}
.flex{
    display:flex;
    justify-content: space-between;
}

.flex2{
    display: flex;
    width: 80vw;
    padding: 0 20px;
    padding-top: 10px;
    margin-left: 20vw;
}

.flex2>div:hover{
    text-decoration: underline;
    cursor: pointer;
    color: orange;
}

.right-btn{
    width: max-content;
    background: rgb(167, 49, 49,.8);
    margin-right: 10px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
}
.right-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.page{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.space{
    height: 90vh;
    border: 2px solid white;
}





@media screen and (max-width: 900px) {
    header{
        justify-content: start;
    }
    .left-logo{
        margin-left: 10px;
    }
    .right-btn{
        margin-right: 0px;
        width: max-content;
    }
    .flex{
        justify-content: space-between;
    }
    .flex2{
        width: 80vw;
        margin-left: 0;
    }
    .page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
}
@media screen and (max-width: 750px) {
    .flex2{
        display: none;
    }
}